<%= form_tag({:controller => "home", :action => "index"}, :method => "get") do %>
  <div class='input'>
    <%= label_tag(:start_location, "Subir cerca de:") %>
    <%= text_field_tag(:start_location) %>
  </div>
  <div class='input'>
    <%= label_tag(:end_location, "Bajar cerca de:") %>
    <%= text_field_tag(:end_location) %>
  </div>
  <%= submit_tag("Buscar", :class => 'button') %>
<% end %>