<!DOCTYPE html>
<html>
<head>
  <title>Jahapa</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag "jquery.js", "rails.js", "application.js", "http://maps.googleapis.com/maps/api/js?sensor=false", "jquery-ui.min.js"%>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class='header'>
      <%= image_tag('logo_header.png') %>
      <h5> Buscador de buses del área de Gran Asunción </h5> 
  </div>
  <div class='content'>
    <%= yield %>
  </div>
  <div class='footer'>
    <div class='images'>
      <div class='paragil'><%= link_to( image_tag('logo_negro.png'), 'http://blog.paragil.com') %></div>
      <div class='rails'><%= link_to( image_tag('rails.png'), 'http://www.rubyonrails.org/') %></div>
    </div>
  </div>
</body>
</html>
